* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  text-align: center;
}

.container {
  text-align: center;
  /*margin-left: 100px;*/
  margin-top: 200px;
  position: relative;
}

.words {
  background-color: aliceblue;
  opacity: 80%;
  border-color: aliceblue;
  padding: 20px;
  font-size: larger;
}

img {
  position: absolute;
  height: 730px;
  width: 1047px;
}
#btn {
  background-color: yellow;
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}
